/* Používáme intuitivní výpočet rozměrů prvků. */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  /* max-width: 40rem;
  margin-right: auto;
  margin-left: auto; */
}

h1 {
  text-align: center;
  font-family: Meow Script;
  font-size: 50px
  ;
}

.container__menu{
  display: flex;
  justify-content: center;
  align-items: center;

}

.container__menu--aboutUs,
.container__menu--aboutProject,
span {
  margin: 20px;
  font-size: 40px;
}

.container__menu--aboutUs a,
.container__menu--aboutProject a {
  text-decoration: none;
}

/* About Us */

.AboutUs{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

.AboutUs__medailonky{
  display: flex;
}

.AboutUs__title
 {
  width: 300px;
  height: 400px;
  border: dotted black 1px;
  margin: 10px;
}


/* About Project */

.AboutProject{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutProject__title {
  width: 300px;
  height: 400px;
  border: dotted black 1px;
}
